* {
  box-sizing: border-box; }

section {
  padding: 40px;
  display: flex;
  flex-direction: column;
  margin: auto; }

.container {
  display: flex;
  height: 70vh;
  width: 100vw; }
  .container .box {
    margin: 0 1rem;
    height: 100%;
    max-width: 100%;
    width: 8%;
    flex-shrink: 0;
    background-color: transparent;
    transition: all 0.8s;
    border-radius: 0.7rem;
    overflow: hidden;
    position: relative;
    order: inherit; }
    .container .box .text {
      transition: all 3s ease-out; }
      .container .box .text p {
        text-transform: uppercase;
        opacity: 0; }
      .container .box .text h3 {
        text-transform: capitalize;
        position: absolute;
        bottom: 20px; }
    .container .box img {
      z-index: -1;
      transition: all 1.2s ease-out;
      filter: grayscale(1);
      position: absolute;
      width: 900px;
      height: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      object-fit: contain;
      object-position: top; }
    .container .box:hover {
      cursor: pointer; }
    .container .box.active {
      width: 35%; }
      .container .box.active .text {
        opacity: 1; }
      .container .box.active img {
        filter: grayscale(0); }
    .container .box.inactive {
      transition-duration: 0.2s;
      width: 10px;
      background: #000; }
      .container .box.inactive:first-child {
        order: 7; }
      .container .box.inactive:last-child {
        order: -1; }
    .container .box.none {
      display: none; }

@keyframes expand {}.inactive:last-child {
  order: -1; }
